:root {
  --primary: #31509e;
  --primary-title: #31509e;
  --secondary-title: #fefefe;
  --secondary-text: #9e9e9e;
  --primary-text: #4b4b4b;
  --primary-card-bg: #0f379ba8;
  --primary-bg: #fefefe;
  --color-placeholder: #d9d9d9;
  --color-danger: rgb(242, 73, 73);
  --card-radius: 1.5rem;
  --list-bg-hover: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-image: url("../../asset/images/bg.png");
  background-repeat: no-repeat;
  background-position: top;
}

body.dark {
  --primary-title: #d4dbcc;
  --secondary-title: #dddee2;
  --primary-text: #dddee2;
  --color-placeholder: #414158;
  --primary-bg: rgb(12, 19, 41);
  --primary-card-bg: #10214da8;
  --list-bg-hover: #201f52;
  background-color: rgb(12, 19, 41);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row !important;
  gap: 1rem;
  padding: 5rem 0;
}
.theme_switch {
  position: absolute;
  top: 2.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: transparent;
  color: var(--primary-title);
  border: 2px solid var(--color-placeholder);
}
button,
select {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  color: var(--primary-title);
  font-weight: 800;
}

.budgets {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}

.budget__card {
  background-color: var(--primary-card-bg);
  padding: 1rem;
  width: 100%;
  border-radius: 1.5rem;
  color: var(--secondary-title);
  cursor: pointer;
}

.budget__name {
  font-size: 1.25rem;
}

.budget__amount {
  font-size: 2rem;
  font-weight: 800;
}

.add__budget__btn {
  height: 6.8rem;
  border-radius: 1.5rem;
  background-color: transparent;
  font-size: 2rem;
  border: 2px dashed var(--color-placeholder);
  color: var(--color-placeholder);
}

/* Bugdets Details */

#budget_details {
  gap: 1rem;
  animation: slideRight 500ms ease-in-out normal;
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}

#budget_details .budget__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#budget_details .icon {
  border: 1px solid #e0e0e06f;
  color: #e0e0e06f;
  aspect-ratio: 1/1;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#budget_details i {
  font-size: 2rem;
}

.back__home {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background-color: var(--primary-bg);
  border: 1px solid var(--color-placeholder);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transform: translateY(-2rem);
  color: var(--primary-text);
}

.icon__back {
  font-size: 1rem !important;
}

.add__spent__btn {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 2px dashed var(--color-placeholder);
  border-radius: var(--card-radius);
  background-color: transparent;
  color: var(--color-placeholder);
}

.add__spent__btn span {
  font-size: 2rem;
  font-weight: bold;
}

.sort__spent {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.2rem;
}

.sort__spent i {
  font-size: 1rem !important;
  color: var(--primary-title);
}

.sort__spent select {
  padding: 0.5rem 0.6rem;
  border: 1px solid var(--color-placeholder);
  border-radius: 0.5rem;
  appearance: none;
  color: var(--primary-text);
  background-color: var(--primary-bg);
}

.spent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.spent__item {
  color: var(--primary-text);
  background-color: transparent;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-placeholder);
  cursor: pointer;
}

.spent__item:hover {
  background-color: var(--list-bg-hover);
}

.spent__item h4 {
  font-size: 1.25rem;
}

.spent__item__price {
  font-size: 1.75rem;
  font-weight: bold;
}

/* Modal */

.modal {
  background-color: rgba(0, 0, 0, 0.233);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  align-items: center;
}

.modal .modal__card {
  background-color: var(--primary-bg);
  max-width: 40rem;
  width: 80%;
  padding: 1rem;
  border-radius: var(--card-radius);
  animation: slideUp 500ms ease-in-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.modal__card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-title);
}

.modal__card__header i {
  font-size: 1.5rem;
  color: red;
  margin-bottom: 1rem;
  cursor: pointer;
}

.modal form label {
  display: inline-block;
  color: var(--secondary-text);
  margin-bottom: 0.5rem;
}

.modal form input {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--color-placeholder);
  margin-bottom: 1rem;
  color: var(--primary-text);
  background-color: var(--primary-bg);
}

.modal form .input__money {
  position: relative;
  color: var(--secondary-text);
}

.modal form .input__money span {
  position: absolute;
  transform: translateY(25%);
  left: 1rem;
  font-size: 1.5rem;
}

.modal form .input__money input {
  padding-left: 3.2rem;
}
.modal .modal__footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.modal .modal__footer:has(> .hidden) {
  flex-direction: row-reverse;
}

.modal .modal__footer button {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border-radius: 10px;
  background-color: var(--primary);
  border: none;
  color: white;
}

.modal .modal__footer .danger {
  background-color: var(--primary-bg);
  color: var(--color-danger);
  border: 2px solid var(--color-danger);
}

.modal .modal__footer .danger:hover {
  background-color: var(--color-danger);
  color: white;
  border: 2px solid var(--color-danger);
}

/* Notification */
.notification-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.notification {
  background-color: var(--primary-bg);
  backdrop-filter: blur(10px);
  width: fit-content;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 0.75rem 1rem;
  border-radius: 15px;
  border: 1px solid rgba(3, 56, 170, 0.527);
  animation: slideDown 500ms ease-in-out;
  color: var(--primary-title);
}
.notification.out {
  animation: fadeOut 500ms ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Responsive */
@media (max-width: 768px) {
  .budgets {
    padding: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  #budget_details {
    padding: 1rem;
  }
}
